
/*IMAGE layout*******************************/
ul.grid{
	list-style: none;
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

ul.grid li{
	padding: 2px;
	float:left;
	width:260px;

}

ul.grid li img{
	width:260px;
	height:260px;
	display:block;
	border:none;
}

/*specific addtional margin for photos buttons*/
/*rest of button styling is in global style.css*/
button {
	margin-bottom: 20px;
}
