<!-- A simple form to make searching of photos easy and configurable -->
<div>
  <input #photoName type="text" value="stars" placeholder="search photos" />
  <input #photoCount type="number" value="100" placeholder="per page" />

  <button class="search"(click)="searchPhotos(photoName.value, photoCount.value, 10)">
    Search
  </button>
</div>

<ul class="grid">
  <li *ngFor="let photo of photos">
    <img
      (click)="photo.showActions = !photo.showActions"
      src="{{ photo.urls.small }}"
      alt="{{ photo.alt_description }}"
    />

    <!----I would like to make the remaining code toggle on or off depending on user preference--->
    <!----Emoji Button--->
    <form>
    <div *ngIf="photo.showActions" class="actions">
      <button
        type="button"
        (click)="isLiked = !isLiked"
        [ngClass]="{ liked: isLiked }"
      >
        ❤️
      </button>
      <br>
      <!---A textarea & button to add comment to a photo-->
      <div class="message">
      <input #name type="text" placeholder="name">
      <br>
      <textarea rows="5" #commentBox></textarea>
      <br>
      <button type="button" class="submit" (click)="addComment(photo.id, name.value, commentBox.value)">
        Submit
      </button>


    <!----comments--->
    <div class="comments">
      <!-- loop through the fake comments added on a photo and display them -->
      <p *ngFor="let comment of photo.comments">{{ comment.name }} {{ comment.comment }}</p>
    </div>
  </div>
  </div>
</form>

  </li>
</ul>
