<!--this is the photos view-->
<!-- A simple form to make searching of photos easy and configurable -->
<div> <!--the API call is actually the same just changing the parameter for each button-->
  <button (click)="searchPhotos('stars')">Stars</button>
  <button (click)="searchPhotos('clouds')">Clouds</button>
  <button (click)="searchPhotos('sunset')">Sunset</button>
  <button (click)="searchPhotos('sheep')">Sheep</button>
</div>

<ul class="grid"> <!--create a layout for photos-->
  <li *ngFor="let photo of photos"> <!--loop through all photos-->
    <img src="{{ photo.urls.small }}" alt="{{ photo.alt_description }}" /> <!--.small is one of the documentation choices from unsplash api-->

    <!----comments
    <div class="comments">
      <!-- loop through the fake comments added on a photo and display them
      <p *ngFor="let comment of photo.comments">{{ comment.name }} {{ comment.comment }}</p>
    </div>
  </div>
  </div>
</form>
--->

    <!--COMMENTS WITH FORM
      (onAddComment): wait for a "onAddComment" event to be emitted from "comment.component.ts"
      and then call addComment method. The $event will be the argument passed from
      "comment.component.ts" which is the user name and comment body.
      [comments]: pass each photo comments to app-comment to display
      --->
    <app-comment
      (onAddComment)="addComment($event, photo.id)"
      [comments]="photo.comments"
    ></app-comment>
  </li>
</ul>
