/*Importing a special font from google*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');
@import 'https://fonts.googleapis.com/css?family=Lato';

/*Using Font Face to import neon font***/
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/* GLOBAL styles CSS*/

/* HTML5 CUSTOM CURSOR*/
* {  cursor: url(./assets/cursor/cursor.png), url(./assets/cursor/triangletiny.cur), url(./assets/cursor/trianglecopy.png), auto;
}

body {
    font-family: 'Raleway', sans-serif; /*calling special font here*/
    background-color: #324856;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*HEADER/NAV BAR*/
.heading{
	background-color: #7C8F93;
	border-radius: 2px;
	width: 100%;
	padding: 10px;
	margin: 45px auto 25px;
	position:relative;
	text-align:center;
	line-height: 1;
}

/*ALL BUTTONS***/
button {
  background:  #add9d7;
  border: none;
  border-radius: 25px;
  color:  white;
  cursor: pointer;
  font-size: .75em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  position: relative;
  text-transform: uppercase;
}

/*HEADER TITLE**********************/
 h1 {
   font-size: 50px;
   color: #add9d7;
   text-align: center;
   font-family: neon;
   text-shadow: 0 0 1vw #0c5566;
 }

 h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    clear: both;
}

.actions {
    padding: 1em 0;
}

.liked {
    color: #00aaff;
}

img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.alert {
    background-color: #cdcdcd;
    color: #000;
}

.alert.alert-danger {
    background-color: #9a0000;
    color: #fff;
}

/*COMMENTS***********************************/

/*comment container*/
.message {
  margin-top: 0;
  padding: .5em 0;
  width: 260px;
  background-color: pink;
  align-content: center;
}

/*comment box*/
.comment {
    padding: .5em 1em;
    background-color: white;
    align-content: center;
}

.comments.hidden {
    max-height: 0;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
}

/*comment submit button*/
.submit {
  border-radius: 34%;
  background-color: #ccc;
  font-size: 1.2em;
  padding: .5em .75em;

}

.comments {
    overflow: hidden;
    max-height: 1000px;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}


.comment.odd {
    background-color: #ccc;
}

label {
    display: block;
}

/*END OF SCROLL NEON TEXT CSS********************/
.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  display: table;
  margin-left: 40%;
  padding-top: 30px;
}

.neon {
  font-family: neon;
  color: #db47f5;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #a216ba;
}

.neon2 {
  font-family: neon;
  color: #add9d7;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #e33dff, 0 0 3vw #e33dff, 0 0 10vw #e33dff, 0 0 10vw #e33dff, 0 0 .4vw #f2a3ff, .5vw .5vw .1vw #806914;
    color: #f2a3ff;
  }
  50% {
    text-shadow: 0 0 .5vw #750c87, 0 0 1.5vw #750c87, 0 0 5vw #750c87, 0 0 5vw #750c87, 0 0 .2vw #750c87, .5vw .5vw .1vw #40340A;
    color: #aa72b3;
  }
}

.neon2 {
  animation: neon2 5s linear infinite;
  -moz-animation: neon2 5s linear infinite;
  -webkit-animation: neon2 5s linear infinite;
  -o-animation: neon2 5s linear infinite;
}

@keyframes neon2 {
  0%,
  100% {
    text-shadow: 0 0 1vw #2d5861, 0 0 3vw #2d5861, 0 0 10vw #2d5861, 0 0 10vw #2d5861, 0 0 .4vw #add9d7, .5vw .5vw .1vw #147280;
    color: #add9d7;
  }
  50% {
    text-shadow: 0 0 .5vw #1e4047, 0 0 1.5vw #1e4047, 0 0 5vw #1e4047, 0 0 5vw #1e4047, 0 0 .2vw #1e4047, .5vw .5vw .1vw #0A3940;
    color: #0c5566;
  }
}
